<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1>Welcome</h1>
<app-login></app-login>
<app-login-material></app-login-material>
<app-mat-design></app-mat-design>
<!--add feature module component-->
<app-customer-dashboard></app-customer-dashboard>
<button type="button" routerLink="/customers">Customers</button>
<button type="button" routerLink="/orders">Orders</button>
<button type="button" routerLink="">Home</button>

<h3 style="color:rebeccapurple">tool is called Storm, and it's developed by researchers at Stanford University.</h3>
<p>URL:</p><a href="https://storm.genie.stanford.edu/" target="_blank">Visit</a>
<p>Github:</p><a href="https://github.com/stanford-oval/storm/" target="_blank">Visit</a>
<h3 style="color:rebeccapurple">extract text directly from the image, you can try using an OCR tool like Google Lens</h3>
<p>URL:</p><a href="https://www.onlineocr.net/" target="_blank">Visit</a>
<h3 style="color:brown">With Inputs</h3>
<h4 style="color:brown">the parent component should bind values using property binding ([inputName])</h4>
<app-card-one [title]="cardTitle" [content]="cardContent"></app-card-one>
<h3 style="color:blueviolet">With projected content</h3>
<h4 style="color:blueviolet">Angular does not process bindings inside content projection.</h4>
<app-card-two>
    <h3 card-title>Dynamic Card Title</h3>
    <p card-content>This content is coming from the parent component.</p>
  </app-card-two>
<h3 style="color:cornflowerblue">Using dynamic content in ng-content using ng-container in child compoenent</h3>
  <app-card-three>
    <h3 card-title>{{ cardTitle }}</h3>
    <p card-content>{{ cardContent }}</p>
  </app-card-three>

<h1>Navigation links</h1>
<nav style="display: flex; flex-direction: column; gap: 10px;">
<a routerLink="translate-text" routerLinkActive="active">i18n Translate</a>
<a routerLink="ngrx-store" routerLinkActive="active">ngrx/store</a>
<a routerLink="store-two" routerLinkActive="active">ngrx/store second</a>
<a routerLink="table-export" routerLinkActive="active">FLUID Table</a>
<a routerLink="form-array" routerLinkActive="active">Form Array</a>
<a routerLink="localstorage-demo" routerLinkActive="active">LocalStorage Demo</a>
<a routerLink="openai-chat" routerLinkActive="active">AI Chatbot</a>
<a routerLink="jest-counter" routerLinkActive="active">Jest Counter</a>
<a routerLink="sentiment-analysis" routerLinkActive="active">Machine Learning NLP</a>
<a routerLink="parent-ui" routerLinkActive="active">Parent UI with microui</a>
</nav>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
