<fluid-card title="Server Mode" collapsible="false" remove-header-border>
    <fluid-search-box
      (search)="searchStates($event)"
      (searchTermUpdated)="handleSearchTermUpdate($event)"
    ></fluid-search-box>
    <fluid-table
      [allowOverflow]="config.allowOverflow"
      [tableId]="config.tableId"
      [headers]="headers"
      [paginated]="false"
      [serverMode]="true"
      [dataItems]="dataItems"
    ></fluid-table>
    <fluid-paginator
      [dataItems]="totalItemCount"
      (pageChanged)="handlePageChange($event)"
    ></fluid-paginator>
  </fluid-card>